/**
 * https://typographyhandbook.com/
 * https://www.modularscale.com/?1.25&em&1.33
 */

:root {
  --body-font: 'Inter', sans-serif;
  --header-font: 'Work Sans', sans-serif;

  --line-height: 1.4;
  --body-font-size: 1.25em;
  --h4-font-size: 1.663em;
  --h3-font-size: 2.211em;
  --h2-font-size: 2.941em;
  --h1-font-size: 3.911em;
  --hero-font-size: 5.202em;

  --bottom-margin: 1.75rem; /* 1.4 * 1.25 */
  --title-bottom-margin: 3.5rem;

  --theme-bg: #fff;
  --theme-text: #000;
  --theme-text-light: #000;
}

:root.theme-dark {
  color-scheme: dark;

  --theme-bg: #171b21;
  --theme-text: #e8e9eb;
  --theme-text-light: #c5cad2;
}

body {
  font-family: var(--body-font);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  background-color: var(--theme-bg);
}

p,
li,
span,
a {
  color: var(--theme-text-light);
  font-size: var(--body-font-size);
}

p {
  margin-bottom: var(--bottom-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-text);
  font-family: var(--header-font);
  font-weight: 600;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: var(--bottom-margin);
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--bottom-margin);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--bottom-margin);
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--title-bottom-margin);
}
