---
import Markdown from 'astro/components'
import Layout from '../layouts/Layout.astro'
import Discoveries from '../components/Discoveries.jsx'
import Locations from '../components/Locations.jsx'
import Meditations from '../components/Meditations.jsx'
import ThemeToggle from '../components/ThemeToggle.jsx'
---

<Layout>
  <ThemeToggle client:idle />
  
  <main>
    <Markdown>
      # The quick red fox jumps over the lazy brown dog.
      
      A story-building game for one player. Craft your own world and watch it change through your adventures.
      
      ## How to play
      
      You will need:
      
      - A deck of cards
      - A 12-sided die (d12)
      - Pen and paper
      
      ## Discoveries
      
      <Discoveries />
      <Locations />
      
      ## Campfire meditations
      
      <Meditations />

      Corporis quaerat ipsam nobis eos voluptate error debitis nostrum.
      Reiciendis sunt autem dolor cum. Ullam error dolores vel placeat animi
      voluptatem.

      Non voluptatem tenetur est officiis quasi facere ut unde. Provident
      sapiente sunt dolore non. Molestiae fugiat exercitationem alias officia
      porro. Modi voluptatem est nostrum nulla. Ut sed ex nobis accusamus modi
      aspernatur eius. A nobis mollitia et quas officiis corporis id.

      Omnis voluptatem pariatur corrupti deserunt. Necessitatibus pariatur rerum
      sit. Velit nam dolor quibusdam. Nemo minima fugiat debitis voluptatem qui
      deleniti dolorem.

      Quaerat aut voluptas reprehenderit. Nobis sit et amet dolorem minus iste.
      Quisquam est hic est. Aliquam qui quisquam praesentium.

      Ut quidem ut esse voluptas ea harum temporibus. Molestiae accusantium
      omnis et consequatur rerum eum provident. Natus omnis maiores magnam quis
      dolor natus. Repellat et iusto et. Quasi expedita quos inventore
      assumenda.
    </Markdown>
  </main>
</Layout>
