.table {
  color: #363636;
  table-layout: fixed;

  & thead td,
  & thead th {
    border-width: 0 0 2px;
    color: #363636;
  }

  & td,
  & th {
    max-width: 400px;
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: middle;
  }

  & tr:not(.is-selected):nth-child(2n) {
    background-color: #fafafa;
  }
}
